html {
    width: 100%;                    /* 100% width of parent (root) element */
    height: 100vh;                  /* 100% height of viewport */
    background: #1A2238;  /* 10% opacity black (very light gray) */
    font-size: 1.0vw;   
    color: #EEFBFB;  
    font-family: 'Roboto Slab', serif;
  }
  a:link{
    text-decoration: none;
    text-transform: none;
    color: #EEFBFB; 
  }
  a{
      text-decoration: none;
      text-transform: none;
      color: #EEFBFB;
    }
  body {
    margin: 0;                      /* no margin at edge of content */
    height: 100vh;  
    width: 100vw;               /* 100% height of parent (html) element */
  }
  div.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "head head head"
      "panleft mainbody panright"
      "foot foot foot";
    
  }
  div.header {
    text-align: center;
    background-color: #1A2238;             
    grid-area: head;  
    font-size: 1.5em;              /* head corresponds to name in template */
  }
  .dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    }

  .nav-item{
    border: 1px solid black;
    background-color: #FF6A3D;
    padding: 4%;
    text-decoration: none;
    font-size: 1.2em;
    color:  #EEFBFB;
    z-index: 100000000000;

  }

  .nav-item:hover{
    background-color: #EEFBFB;
    color: #FF6A3D;
  }
  nav:link{
    text-decoration: none;
  }
  nav{
    border: none;
    position: fixed;
    width: 30vw;
    text-decoration: none;
    top: 10px;
    left: 10px;
    z-index: 10000;
  }
  div.footer {
    background: #1A2238;
    grid-area: foot;
  }
  div.panel {                            /* div elements with "panel" class */
    background-image: url("pathway.jpeg");
    background-repeat: no-repeat;                          /* 10% black */
  }
  div.panel.left {                    /* with both "panel" and "left" class */
    grid-area: panleft;
  }
  div.panel.right {
    grid-area: panright;
  }
  .mainbody {
    grid-area: mainbody;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    font-size: 1.5em;
  }
.tile{
      border-style: solid;
      width: 100%;
      background: #007CC7;
      padding: 5%;
      z-index: 10000;
  }
  .tile:hover {
    background: #FF6A3D;
}
.active{
  background-color: #EEFBFB;
  color: #FF6A3D;
}

.dropdown {
  position: relative;
  display: none;
  visibility: hidden;
}


@media screen and (max-width: 500px) {
  .nav-item {
    font-size: 2.5em;
    display: none;
    visibility: hidden;
    
  }
  div.panel {                            /* div elements with "panel" class */
    background-image: none;
    background-repeat: no-repeat;                          /* 10% black */
  }
  nav{
    display: none;
    height: fit-content;
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;

  }
  
  .tile{
    font-size: 4em;
    padding: 3%;
  }
  h1{
    font-size: 3em;
  }
.dropdown {
  position: relative;
  display: block;
  visibility: visible;
}
.mainbody {
  grid-area: mainbody;
  display: grid;
  height: 70vh;
  width: 90vw;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
  font-size: 1.5em;
}
}

.menu-clicked{
  display: block;
  visibility: visible;
}
  